@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 20px 100px;
}
#debug_html {
  a {
    color: #000;
    text-decoration: none;
    cursor: normal;
  }
  table {
    display: inline-block;
    margin: 5px 10px;
    float: left;
  }
}
